.game-board{ 
    display: grid;
    image-orientation: left;
    grid-template-columns: 130px 120px 120px 120px 120px 120px 120px 120px 120px 120px ;
    grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
    
   }
.box {
    background-color: transparent;
    border: 56px solid #ffffff;
   }
   .wall{
    background-color:black;
  }