.divTable{
	display: table;
	
	}
.divTableRow {
	display: table-row;
	width: 100%;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;
	width: 90px;
	height: 90px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.divflotanteredondo{
	position: relative;
    top: -40px;
	left: 25px;
	font-weight: bolder;
}
.flotcuadrado{
	font-weight: bolder;
	position: relative;
    top: -43px;
    left: 18px;
}
.flotrect{
	font-weight: bolder;
	position: relative;
    top: -20%;
	left: 30%;
	transform: translateY(-50%);
}
.TableRestaurante{
    
    display: table;
    
}
@media screen and (max-device-width:1920 ){
	.divTable{	
	background-size: contain !important;
	background-repeat: no-repeat;
	width: 100%;
	
	
	
	}
}
@media screen and (max-device-width:768px){
	.divTable{	
		background-size: contain;
		background-repeat: no-repeat !important;
		width: 75%;
		
	}
}
@media screen and ( max-device-width:568px){
	.divTable{	
		background-size: cover;
		background-repeat: no-repeat !important;
		width: 60%;
	
	}
}
.card-title-calc {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}

